name: Release

on:
  push:
    tags:
      - v*

jobs:
  release:
    name: Release new version
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-go@v3
        with:
          go-version: "stable"
          cache: true

      - name: Test
        run: go test ./...

      - name: Build
        if: startsWith(github.ref, 'refs/tags/')
        run: make && make sha256sum

      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: build/*